 <app-search  (searchTextChanged)="onSearchTextEntered($event)"></app-search>
<table border='1'>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Author</th>
      <th>Published Year</th>
      <th *ngIf="authService.isAdmin">Action</th>
      <th *ngIf="authService.isAdmin">Delete</th>
    </tr>
  </thead>
  <tbody *ngFor="let book of bookData,let i =index">
    <!-- <tr *ngFor="let book of books,let i =index">
      <td>{{ book.id}}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.publishedYear }}</td>
      <td><button class="btn">Edit</button></td>
      <td><button class="btn" (click)="deleteBook(book.id,i)">Delete</button></td>
    </tr> -->

    <tr  *ngIf="searchText === ''|| book.title.toLowerCase().includes(searchText) ">

        <td>{{ book.id}}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.publishedyear }}</td>
        <td *ngIf="authService.isAdmin"><button class="btn"    (click)="getAllDetails(book)" >Edit</button></td>
        <td *ngIf="authService.isAdmin"><button class="btn" (click)="deleteBook(book)" >elete</button></td>
     
    </tr>
  </tbody>
</table>
<div class="aside">

  <!-- <button class="btn" >Add NewBook </button>  -->
  <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#addbook" *ngIf="authService.isAdmin" (click)="toggle()" data-whatever="@mdo">Add NewBook</button>
  &nbsp;
  <button (click)="logout()"  class="btn" >Logout</button>


</div>



<!-- //for addingUp the data -->
<form class="form" [formGroup]="bookForm"  *ngIf="toshow"  (ngSubmit)="addBook() ">
  <h1>Adding New data</h1>
  id:<br>
 <input type="number" formControlName="id"><br>
  Title:<br>
  <input type="text" formControlName="title"><br>
  Author:<br>
  <input type="text" formControlName="author"><br>
  PublishedYear:<br>
  <input type="number" formControlName="publishedyear">

<button class="btn ok" type="submit"  id="gap"      [disabled]="bookForm.invalid">Submit</button>
</form>


<!-- for editing purpose -->
<form class="form" [formGroup]="editForm"  *ngIf="toEdit" >
 <h1>Editing the data</h1>
  id: <br>
 <input type="text" formControlName="edit_id" [value]="bookDetails?.id" >
 Title: <br>
  <input type="text" formControlName="edit_title" [value]="bookDetails?.title">
  Author: <br>
  <input type="text" formControlName="edit_author" [value]="bookDetails?.author">
  PublishedYear: <br>
  <input type="number" formControlName="edit_publishedyear" [value]="bookDetails?.publishedyear">

<button class="btn ok" type="submit"  id="gap"  (click)="updateBook(bookData)">Update</button>
</form>


<!-- HTML !-->
<!-- <button  role="button">Button 24</button> -->


<!-- HTML !-->
<!-- <button class="btn" role="button">Button 29</button>

  /* CSS */ -->

